<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div th:style="${'display:flex; width: 750px; height: 432px; background-color:#f8f8f8; border: 1px solid #F09311; padding-left: 40px; padding-top: 40px; gap: 30px'}">

                <div th:style="${'margin-top: 30px'}">
                    <img src="https://recipe-prod-s3.s3.ap-northeast-2.amazonaws.com/img/mail/logo_o.png" width="110.94" th:style="${''}" alt="로고" />

                    <div th:style="${'margin-top:35px'}">
                        <h1>안녕하세요!</h1>
                        <p th:style="${'font-style: normal; font-weight: 500; font-size: 18px;line-height: 150%;'}">레시피톡에 회원가입을 해주셔서 대단히 감사합니다.<br>아래 버튼을 누르면 이메일 인증이 완료됩니다.</p>
                    </div>
                    <div th:style="${'margin-top: 200px'}">
                        <a th:style="${'text-decoration-line: underline; color: #F0964A; font-weight:500; font-size:18px; line-height:150%;'}"  th:href="@{${token}}">이메일 인증하기</a>
                    </div>
                </div>
            <img src="https://recipe-prod-s3.s3.ap-northeast-2.amazonaws.com/img/mail/whitebearCake.png" width="199.39" height="238" th:style="${'margin-left: 50px; margin-top:170px'}" alt=""/>
        </div>
    </body>





</html>
